@use "../utils/variables" as var;

.menu-container {
  margin-top: 159px;

  .sadasd {
    display: flex;
    align-items: start;
    justify-content: space-between;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }
  .navs_tab_father {
    background: rgba(187, 35, 57, 1);
    width: 428px;
    height: 844px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    padding: 50px 40px;
    display: flex;

    h1 {
      font-family: "Varela Round", sans-serif;
      font-size: 40px;
      font-weight: 500;
      line-height: 54px;
      text-align: left;
      color: rgba(255, 255, 255, 1);
      max-width: 348px;
    }

    .nav-link {
      color: var.$text-color;
      text-align: left;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
      color: var.$primary-blc-color;
      background: none;
      border: 1px solid #ffffff;
      border-radius: 100px;
    }

    .nav-link.active:hover {
      background-color: var.$text-color;
    }
  }
}
// next
.grid_father {
  display: grid;
  gap: 20px;
  padding: 20px;

  @media (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) and (max-width: 991px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.item {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;

  .beatifuly-water {
    max-width: 250px;
  }
  .cake_sa {
    max-width: 250px;
  }
  .actas {
    max-width: 250px;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }

  p {
    margin: 10px 0;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: rgba(36, 36, 36, 1);
    max-width: 340px;
  }

  span {
    font-family: Open Sans;
    font-size: 28px;
    font-weight: 700;
    line-height: 38.13px;
    text-align: center;
    color: rgba(187, 35, 57, 1);
  }
}
