$red-color: rgba(187, 35, 57, 1);
$bg-color: rgba(248, 248, 248, 1);
$text-color: rgba(255, 255, 255, 1);
$color-black: rgba(36, 36, 36, 1);
$hov-color: rgba(51, 51, 51, 1);

// footer-color
$primary-color: rgba(187, 35, 57, 1);
$font-family: "Open Sans", sans-serif;
// done

// next
$tst-bg-color: rgba(244, 244, 244, 1);

// next

$font-stack: "Arial, sans-serif";
$primary-blc-color: #000;
$secondary-xz-3-color: #fff;
$accent-color: #ff0000;

// video color

$primary-vd-color: #000;
$background-vd-color: rgba(0, 0, 0, 0.5);
$play-button-vd-size: 100px;
$triangle-vd-size: 40px;
